---
import ScrollPrompter from "@/components/ScrollPrompter";
import Skillset from "@/components/Skillset";
import Layout from "../layouts/Layout.astro";
---

<Layout title="toh ming chun">
  <main class="flex flex-col bg-background">
    <section
      class="container min-h-screen py-10 bg-background text-foreground flex flex-col items-center justify-center"
    >
      <h1 class="text-3xl md:text-6xl font-bold">Hi, I am Ming Chun !</h1>
      <p class="md:text-4xl text-xl mt-3 md:mt-12 font-normal">
        Student. Web developer.
      </p>
      <ScrollPrompter client:load />
    </section>
    <section
      class="container min-h-screen bg-background text-foreground flex flex-col justify-center gap-y-4 md:px-16"
    >
      <div class="flex items-center">
        <h1 class="text-left md:text-5xl text-2xl font-bold">About me</h1>
        <div class="border-b border-2 flex-1 h-0 ml-4 mt-1 md:mt-3"></div>
      </div>
      <p class="text-left text-lg md:text-2xl font-normal">
        Hello! I am a year 2 computer engineering undergraduate at NUS. My
        interests lie in web development, in particular latest developments in
        the frontend world. I love drawing inspiration from the problems I face
        in my everyday life and solving them with &lt;code&gt;
      </p>
    </section>
    <section
      class="container min-h-screen py-10 bg-background text-foreground flex flex-col items-center justify-center"
    >
      <h1 class="font-bold md:text-5xl text-2xl mb-5 md:mb-10">
        Skills and Proficiencies
      </h1>
      <Skillset client:load />
    </section>
    <!-- <section
      class="container min-h-screen py-10 bg-background text-foreground flex flex-col items-center justify-center"
    >
      <h1 class="text-left font-bold md:text-5xl text-2xl mb-5 md:mb-10">
        Experience
      </h1>
    </section> -->
  </main>
</Layout>
