---
import Layout from "@/layouts/Layout.astro";
import PlaygroundBackground from "@/components/playground/PlaygroundBackground";
import PlaygroundBody from "@/components/playground/PlaygroundBody";
import ProfileAsClass from "@/components/ProfileAsClass.astro";
---

<Layout
  title="toh ming chun"
  isNavbarTransparent={false}
  isFooterTransparent={true}
>
  <main class="flex flex-col">
    <PlaygroundBackground client:load>
      <PlaygroundBody client:load>
        <ProfileAsClass />
      </PlaygroundBody>
    </PlaygroundBackground>
  </main>
</Layout>
