---
import Layout from "@/layouts/Layout.astro";
import PlaygroundBackground from "@/components/playground/PlaygroundBackground";
---

<Layout
  title="toh ming chun | playground"
  isNavbarTransparent={true}
  isFooterTransparent={true}
  unscrollable={true}
>
  <main class="flex flex-col h-full items-center justify-center">
    <PlaygroundBackground client:load />
  </main>
</Layout>
