---
import MobileNav from "@/components/MobileNav.tsx";
interface Props {
  isTransparent: boolean;
}

const { isTransparent } = Astro.props;
---

<div
  class={`fixed w-full z-50 top-0 py-6 flex px-6 lg:px-10 justify-between items-center` +
    (isTransparent ? " bg-transparent" : " bg-background")}
>
  <a href="/" class="text-xl text-foreground">mc</a>
  <div class="hidden md:block">
    <ul class="flex text-xl items-center justify-center gap-x-20">
      <li>
        <a
          href="/"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
          >About me</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="https://github.com/mcmc101001"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
          >Github</a
        >
      </li>
      <li>
        <a
          href="/tohMingChunCV.pdf"
          download="tohMingChunCV.pdf"
          class="text-foreground/60 transition-colors hover:text-foreground/80"
        >
          Résumé
        </a>
      </li>
    </ul>
  </div>
  <MobileNav client:load />
</div>
