---
import { ViewTransitions } from "astro:transitions";
import Navbar from "@/components/utilities/Navbar.astro";
import Footer from "@/components/utilities/Footer.astro";
import "@/styles/globals.css";
import ScrollToHideWrapper from "@/components/utilities/ScrollToHideWrapper";
import Analytics from '@vercel/analytics/astro'
interface Props {
  title: string;
  isNavbarTransparent?: boolean;
  isFooterTransparent?: boolean;
}

const {
  title,
  isNavbarTransparent = false,
  isFooterTransparent = false,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ming Chun's personal website!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class={"bg-background overflow-x-hidden"}>
    <Analytics />
    <ScrollToHideWrapper client:load>
      <Navbar isTransparent={isNavbarTransparent} />
    </ScrollToHideWrapper>
    <slot />
    <Footer isTransparent={isFooterTransparent} />
  </body>
</html>
